# App
APP_ENV=local
APP_DEBUG=1

# Database
DB_HOST=mysql
DB_PORT=3306
DB_NAME=erp
DB_USER=erp_user
DB_PASS=erp_pass

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Asaas
ASAAS_API_URL=https://api-sandbox.asaas.com/v3
ASAAS_ACCESS_TOKEN=token_sua_conta_asaas